In [1]:
import numpy as np, pandas as pd
import seaborn as sns
import scipy.stats as st
import matplotlib.pyplot as plt

In [2]:
df = pd.read_pickle("accidents.pkl.gz")
df

,p1,p36,p37,p2a,weekday(p2a),p2b,p6,p7,p8,p9,...,l,n,o,p,q,r,s,t,p5a,region
0,002100160001,4,,2016-01-01,5,0055,1,1,0,2,...,,711403,,Souhlasnýsesměremúseku,Pomalý,554782,451622,GN_V0.1UIR-ADR_410,1,PHA
1,002100160002,4,,2016-01-01,5,0130,1,3,0,2,...,,,,,,,,,1,PHA
2,002100160003,5,,2016-01-01,5,0100,1,2,0,2,...,,,,,,,,,1,PHA
3,002100160004,6,,2016-01-01,5,0120,9,0,0,2,...,,,,,,,,,1,PHA
4,002100160005,6,,2016-01-01,5,2560,2,0,0,2,...,,,,,,,,,1,PHA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487156,190906200498,6,,2020-09-29,2,2560,2,0,0,2,...,,3438492,,Souhlasnýsesměremúseku,Pomalý,560294,,GN_V0.1UIR-ADR_410,1,KVK
487157,190906200499,0,6,2020-09-29,2,1940,1,2,0,2,...,D6,1671277,,Souhlasnýsesměremúseku,Pomalý,560286,,GN_V0.1UIR-ADR_410,2,KVK
487158,190906200500,3,2114,2020-09-30,3,2045,1,4,0,2,...,2114,1669033,,Opačnýkesměruúseku,Pomalý,554642,,GN_V0.1UIR-ADR_410,2,KVK
487159,190906200501,0,6,2020-10-01,4,0420,3,0,4,2,...,D6,3513947,,Souhlasnýsesměremúseku,Pomalý,560294,,GN_V0.1UIR-ADR_410,2,KVK
487160,190906200502,6,,2020-10-01,4,2560,2,0,0,2,...,,3704381,,Souhlasnýsesměremúseku,Pomalý,560383,,GN_V0.1UIR-ADR_410,1,KVK

In [3]:
#(df.p13a + df.p13b).max()

In [4]:
df_chi = pd.DataFrame({'p11':df['p11'], 'p13c':df['p13c'], 'p13b':df['p13b'],'p13a':df['p13a'], 'alcohol':(df['p11'] >=7), 'heavily_injured':(df['p13b']+df['p13a'] > 0)}).dropna()
df_chi

        p11  p13c  p13b  p13a  alcohol  heavily_injured
0         2     0     0     0    False            False
1         2     0     0     0    False            False
2         2     0     0     0    False            False
3         9     0     0     0     True            False
4         0     0     0     0    False            False
...     ...   ...   ...   ...      ...              ...
487156    0     0     0     0    False            False
487157    2     0     0     0    False            False
487158    0     0     0     0    False            False
487159    2     0     0     0    False            False
487160    0     0     0     0    False            False

[487161 rows x 6 columns]

In [5]:
df_chi = df_chi.drop(df_chi[(df_chi.p11 == 4) | (df_chi.p11 == 5) | (df_chi.p11 == 0)].index)
df_chi

        p11  p13c  p13b  p13a  alcohol  heavily_injured
0         2     0     0     0    False            False
1         2     0     0     0    False            False
2         2     0     0     0    False            False
3         9     0     0     0     True            False
4         0     0     0     0    False            False
...     ...   ...   ...   ...      ...              ...
487156    0     0     0     0    False            False
487157    2     0     0     0    False            False
487158    0     0     0     0    False            False
487159    2     0     0     0    False            False
487160    0     0     0     0    False            False

[485683 rows x 6 columns]

In [6]:
ct = pd.crosstab( df_chi['alcohol'], df_chi['heavily_injured'])
ct

heavily_injured   False  True
alcohol
False            457528  10777
True              16492    886

In [7]:
values = ct.values
sum_all = float(values.sum()) # suma vsech hodnot
sum_c0, sum_c1 = ct[:][0].sum(), ct[:][1].sum() # soucty sloupcu
sum_r0, sum_r1 = ct[0][:].sum(), ct[1][:].sum() # soucty radku

E = np.array([[(sum_r0 * sum_c0), (sum_r0 * sum_c1 )],
     [(sum_r1 * sum_c0), (sum_r1 * sum_c1)]]) 

E = E / sum_all

xi2 = np.sum(((np.abs(values - E) - 0.5 )**2) / E)
display(f"xi2={xi2}")

'xi2=3690.0562779843917'

In [8]:
st.chi2_contingency(ct)

(558.1749514234125,
 2.0971505700338304e-123,
 1,
 array([[4.57059308e+05, 1.12456916e+04],
        [1.69606916e+04, 4.17308438e+02]]))